.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        = @group.name
      .main-chat__group-info__left-box__group-member
        member: 
        - @group.users.each do |user|
          = user.name
          -# groupに所属しているusersテーブル全員をuserという変数で表す

    .main-chat__group-info__edit-btn
      = link_to "/groups/#{@group.id}/edit" do
        Edit
          
  .main-chat__messages
    = render @messages

  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .main-chat__message-form__input-box
        = f.text_field :content, class: "main-chat__message-form__input-box__text", placeholder: "type a message" 
        = f.label :image, class: "main-chat__message-form__input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'main-chat__message-form__submit'